@page
@model CoronaStat.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<div>
	<p>
		Esse projeto está disponível em <a href="https://github.com/madukm/CoronaStat">https://github.com/madukm/CoronaStat</a>
	</p>
	<p>
		Esse site foi desenvolvido como projeto final para a disciplina de Programação Orientada a Objetos (1/20).
	</p>
	<p>
		O objetivo é adquirir dados sobre a pandemia de COVID-19, criando gráficos e realizando alguns cálculos de tendência.
	</p>
	<p>
	Developed by:
	</p>
	<ul>
		<li>Hiram</li>
		<li>Madu</li>
	</ul>
	<img src="~/assets/nois.jpeg" alt="Enois" style="width:300px;">
</div>
