@page
@model CoronaStat.Pages.StatsModel
@{
    ViewData["Title"] = "Stats";
}

<div>
	<h1>Estatísticas</h1>
	<!--Divisão que responde por 'tudo'-->
	<div>
		<!--Colocar chart.js aqui-->
		<input type="text" id="search_location" />
		<button type="button" class="btn btn-default btn-lg" aria-label="add_something">
			<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Hello
		</button>
	</div>
</div>
